.container {
  width: max(327px, 90vw);
  margin-inline: auto;
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

.flex {
  display: flex;
  align-items: var(--align, center);
  justify-content: var(--justify, space-between);
  gap: var(--gap, 1rem);
}

.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}
.mt-4 {
  margin-top: 4rem;
}
.mt-5 {
  margin-top: 5rem;
}

@include mq($md-bp) {
  .container {
    padding-inline: 2em;
    margin-inline: auto;
    width: min(80rem, 100%);
  }
}
