.container {
  width: max(327px, 86vw);
  margin-inline: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr minmax(327px, 86vw) 1fr;
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

.flex {
  display: flex;
  align-items: var(--align, center);
  justify-content: var(--justify, space-between);
  gap: var(--gap, 1rem);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}
.mt-4 {
  margin-top: 4rem;
}
.mt-5 {
  margin-top: 5rem;
}

// Y - spacing:

.nav {
  padding-top: 24px;
}

@include mq($md-bp) {
  .container {
    padding-inline: 2em;
    margin-inline: auto;
    width: min(80rem, 100%);
  }
}
