.underline-indicators {
  justify-content: start;
  --gap: 8rem;

  & > * {
    padding: var(--underline-gap, 1rem) 0;
    border: 0;
    border-bottom: 0.2rem solid hsl(var(--clr-white) / 0);

    color: hsl(var(--clr-accent));
    font-family: var(--ff-sans-cond);
    letter-spacing: var(--ls-2);
    text-transform: uppercase;

    background-color: transparent;

    cursor: pointer;

    &:hover,
    &:focus {
      border-color: hsl(var(--clr-white) / 0.5);
    }
  }

  > .active,
  > [aria-selected='true'] {
    color: hsl(var(--clr-white) / 1);
    border-color: hsl(var(--clr-white) / 1);
  }
}

.tab-list {
  --gap: 2rem;
}
