.crew {
  --flow-space: 2rem;

  background-image: url(../assets/crew/background-crew-mobile.jpg);
  background-size: 100% calc(100% + 100vw);
  background-repeat: no-repeat;
  background-position: center;

  picture {
    border-bottom: 1px solid hsl(var(--clr-white) / 0.15);
  }

  .tab-list {
    --gap: 1rem;
  }

  &_info {
    text-align: center;

    header {
      text-transform: uppercase;
      font-family: var(--ff-serif);

      h2 {
        font-size: var(--fs-600);
        color: hsl(var(--clr-white) / 0.5);
      }

      p {
        font-size: var(--fs-700);
        color: hsl(var(--clr-white));
      }
    }

    > p {
      margin-inline: auto;
      margin-top: 1rem;
      max-width: 51ch;

      color: hsl(var(--clr-accent));
    }
  }
}

@include mq($md-bp) {
  .crew {
    background-image: url(../assets/crew/background-crew-tablet.jpg);
    background-position: center;

    .grid-container {
      --flow-space: 2.5rem;

      grid-template-areas:
        '. title .'
        '. content .'
        '. tabs .'
        '. image .';

      margin-bottom: 0rem;
    }
    .numbered-title {
      justify-self: start;
    }

    picture {
      border: none;
    }
  }
}

@include mq($lg-bp) {
  .crew {
    display: grid;
    grid-template-rows: auto 1fr;

    background-image: url(../assets/crew/background-crew-desktop.jpg);
    background-position: center bottom 33%;

    .grid-container {
      place-content: center;
      margin: 0;

      grid-template:
        '. title image image' 1fr
        '. content image image' auto
        '. tabs image image' 1fr /
        1fr
        minmax(35ch, 650px) minmax(35ch, 455px)
        1fr;

      column-gap: 5rem;
    }
    picture {
      align-self: end;
      margin: 0;
      img {
        max-width: max(70%, 54vh);
      }
    }

    .tab-list {
      justify-self: start;
    }
    &_info {
      justify-self: start;
      text-align: left;

      > p {
        max-width: 44ch;
        margin-inline: 0;
      }
    }
    &_meta {
      --justify: start;
    }
  }
}
