.destination {
  background-image: url(../assets/destination/background-destination-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  // Grid Layout:
  .grid-container {
    --flow-space: 2rem;
    margin-bottom: 2rem;

    grid-template-areas:
      '. title .'
      '. image .'
      '. tabs .'
      '. content .';

    justify-items: center;
  }

  h1 {
    grid-area: title;
  }
  picture {
    grid-area: image;
  }
  .tab-list {
    grid-area: tabs;
    margin-top: 1rem;
  }
  article {
    grid-area: content;
  }

  // Components:

  &_info {
    margin-top: 1rem;
    text-align: center;

    > p {
      max-width: 62ch;
      margin-inline: auto;
      padding-bottom: 2rem;
      border-bottom: 1px solid hsl(var(--clr-white) / 0.15);

      color: hsl(var(--clr-accent));
    }

    h2 {
      font-size: var(--fs-800);
      font-family: var(--ff-serif);
      text-transform: uppercase;
    }
  }

  &_meta {
    margin-top: 2rem;
    flex-direction: column;

    h3 {
      font-family: var(--ff-sans-cond);
      font-size: var(--fs-200);
      color: hsl(var(--clr-accent));
      text-transform: uppercase;
    }

    p {
      margin-top: 0.5rem;

      font-size: 1.75rem;
      font-family: var(--ff-serif);
      text-transform: uppercase;
    }
  }
}

@include mq($md-bp) {
  .destination {
    background-image: url(../assets/destination/background-destination-tablet.jpg);

    .grid-container {
      --flow-space: 2.5rem;
    }

    .numbered-title {
      justify-self: start;
    }
    &_info {
      > p {
        padding-bottom: 3rem;
      }
    }
    &_meta {
      flex-direction: row;
      --justify: center;
      --gap: 6rem;
    }
  }
}

@include mq($lg-bp) {
  .destination {
    display: grid;
    grid-template-rows: auto 1fr;

    .grid-container {
      place-content: center;
      margin: 0;

      grid-template-columns:
        1fr
        minmax(35ch, 650px) minmax(35ch, 455px)
        1fr;

      grid-template-areas:
        '. title title .'
        '. image tabs .'
        '. image content .';

      column-gap: 5rem;
    }
    picture {
      align-self: end;
      img {
        max-width: 100%;
      }
    }

    .tab-list {
      justify-self: start;
    }
    &_info {
      justify-self: start;
      text-align: left;

      > p {
        max-width: 44ch;
      }
    }
    &_meta {
      --justify: start;
    }
  }
}
