.destination {
  background-image: url(../assets/destination/background-destination-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  // Grid Layout:
  .grid-container {
    margin-bottom: 2rem;

    grid-template-areas:
      '. title .'
      '. image .'
      '. tabs .'
      '. content .';

    justify-items: center;
  }

  h1 {
    grid-area: title;
  }
  picture {
    grid-area: image;
    margin-top: 2rem;
  }
  .tab-list {
    grid-area: tabs;
  }
  article {
    grid-area: content;
  }

  // Components:

  &_info {
    margin-top: 1rem;
    text-align: center;

    > p {
      padding-bottom: 2rem;
      color: hsl(var(--clr-accent));
      border-bottom: 1px solid hsl(var(--clr-white) / 0.15);
    }

    h2 {
      font-size: var(--fs-800);
      font-family: var(--ff-serif);
      text-transform: uppercase;
    }
  }

  &_meta {
    margin-top: 2rem;
    flex-direction: column;

    h3 {
      font-family: var(--ff-sans-cond);
      font-size: var(--fs-200);
      color: hsl(var(--clr-accent));
      text-transform: uppercase;
    }

    p {
      margin-top: 0.5rem;

      font-size: var(--fs-700);
      font-family: var(--ff-serif);
      text-transform: uppercase;
    }
  }
}

@include mq($md-bp) {
  .destination {
    background-image: url(../assets/destination/background-destination-tablet.jpg);

    .numbered-title {
      margin-top: 2rem;
      justify-self: start;
    }
    picture {
      margin-top: 4rem;
    }
    .tab-list {
      margin-top: 3rem;
    }
    &_info {
      > p {
        width: 62ch;
        margin-inline: auto;
        padding-bottom: 3rem;
      }
    }
    &_meta {
      flex-direction: row;
      --justify: center;
      --gap: 6rem;
    }
  }
}
