.technology {
  padding-bottom: 2rem;
  // Layout:
  .grid-container {
    grid-template-areas:
      '. title .'
      'image image image'
      '. tabs .'
      '. content .';
  }

  // Components:
  picture {
    width: 100%;
    img {
      height: calc(75px + 25.5vw);
    }
  }

  .numbered-indicators {
    --flex-dir: row;
    --justify: center;

    > * {
      width: 40px;
      font-size: var(--fs-500);
    }
  }

  &_info {
    text-align: center;
    header {
      text-transform: uppercase;
      h2 {
        font-family: var(--ff-sans-cond);
        font-size: var(--fs-300);
        color: hsl(var(--clr-accent));
        letter-spacing: var(--ls-3);
      }
      p {
        margin-top: 0.25rem;
        font-family: var(--ff-serif);
        font-size: 1.5rem;
      }
    }

    > p {
      margin-top: 1rem;
      color: hsl(var(--clr-accent));
    }
  }
}
