.technology {
  // Layout:
  .grid-container {
    grid-template-areas:
      '. title .'
      'image image image'
      '. tabs .'
      '. content .';
  }

  &_img {
    grid-area: image;
  }

  .numbered-indicators {
    --flex-dir: row;
    --justify: center;

    > * {
      width: 40px;
      font-size: var(--fs-500);
    }
  }
}
